---
layout: default
title: FAQ
---

<div class="jumbotron" style="background: url('/image/faq-banner.jpg') center center;background-size:cover">   
    <center>
        <br/>
        <br/>
        <br/>
        <br/>        
        <h2 style="color: #FFF">FAQ</h2>
        <br/>
        <br/>
        <br/>
        <br/>
    </center>
</div>

{% include faq-block.html block_alias = "general" block_title = "General" question_n_answers = site.data.faq.general %}

{% include faq-block.html block_alias = "deliver_order" block_title = "Create and Modify a Deliver Order" question_n_answers = site.data.faq.deliver_order %}

{% include faq-block.html block_alias = "pick_up" block_title = "Our Pick Up Process" question_n_answers = site.data.faq.pick_up %}

{% include faq-block.html block_alias = "delivery" block_title = "Delivery Process" question_n_answers = site.data.faq.delivery %}

<br/>
<center>
    <p><strong>Still have a question?</strong></p>
    <a href="/contact-us" class="btn btn-danger text-center">Contact Us</a>
</center>

<br/>